table-bordered th,
.table-bordered td {
    border: 1px solid #ddd !important;
}

.table-bordered th {
    border-bottom: 2px solid #CBCBCB !important;
}

.table-bordered {
    border: 1px solid #dddddd;
}

    .table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > th,
    .table-bordered > tfoot > tr > th,
    .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > td,
    .table-bordered > tfoot > tr > td {
        border: 1px solid #dddddd;
    }

    .table-bordered > thead > tr > th,
    .table-bordered > thead > tr > td {
        border-bottom-width: 2px;
    }
