<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>e9q5lE/aEXun3OV3NaA/V7XNA4fj5XkEtQxk//FPFwnnvYA/KjtRDFvxFH44Vke6ptHPzv96BfCTqW552F4p3TvEuqFq3DROBsA/nkPWWoUqn2nm1IX1WOOfkn+tRqDvXRhnEncSpasO5sAw7XfZQu01JCW5ffzkDhmgR/7jEl2s5Y9JPVUzHypvd5nZvIjZQ1cQ3jltc9VNPagS8J1CGNJkwvg5m6FngcpIetdAL05FXGeaRv8Ngi0CdaabDJhXvqQHx5ZoFk4BySx3jVqZ+mSEU3xnYbUcv+M4bo9yQRbbSxw4OfJHG2Pa4/r/FdEzAMxCyzVeGUL1FmB3FDc0kQ==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>xnDMWrZImyYqj9h2IrymjQrOSTW9TlK8rt/srV0K8kj5Jibpbgy0tniAPuIkgulhY0vNDL+m/sBB2AySmgh22ZWM5BTNiC31dllsPBLxnK2QRAj3EVb0rSq88zGpt4wfOllt8tVPI8v3mjkUYSOxa7rS01FIMmqqcA77ukE3WkfZwDr7L/9j8nHP/IfyxcfTV4Z1VihNL0l7LVE1ChWJCSFtw2so+RSQ4lKoICZ4dSxpKrNqFwqbNmi2KQJVFuo5PlkAFm0fcculqfObFV0PUPE1GO+2CUBl5EMBqrBji2RoueO9SNkp3gIQsCxjeEeOTogVETW2gmgA7HL6o9IHYHdiI3hXPvP7Kt/t0XSZvdoDKllh084/wptRuYGgTi2V8UpzmTtRIaPMNQHMHCeZBClFLLLUcK/qK8qCT+5q/2OPyWuYF8UFOXLVCRKnRyjTK2qk251TZ+/MkfrpeUQxEXXsdiJfkVrKaIqLqLwuqV0Q77rcc5fHkwgRS2r3YvpU56quxKTbqMw7qGvsV3LVuKOHlh4C1rMPbnRoQ67Kjwc=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
        <defaultDocument>
            <files>
                <clear/>
                <add value="default.aspx"/>
                <!--
                <add value="Logon.aspx"/>  
                <add value="index.html"/>
                <add value="Default.htm"/>
                <add value="Default.asp"/>
                <add value="index.htm"/>
                <add value="iisstart.htm"/>
                --> 
            </files>
        </defaultDocument>
  </system.webServer>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5.1" maxRequestLength="1048576"/>
    <sessionState mode="InProc" timeout="10" cookieless="false" />

    <authentication mode="Forms">
      <forms name="MediaServerAuth" loginUrl="Logon.aspx" protection="All" path="/" timeout="30" slidingExpiration="true" />
    </authentication>

    <authorization>
      <deny users="?"  />
    </authorization>

    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages></system.web>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <applicationSettings>
    <Web.Properties.Settings>
      <setting name="FileUploadPath" serializeAs="String">
        <value>~/App_Data</value>
      </setting>
      <setting name="Web_WebServiceReference_WebService" serializeAs="String">
        <value>http://localhost:60015/WebServices/WebService.asmx</value>
      </setting>
    </Web.Properties.Settings>
  </applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28F01B0E84B6D53E" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-16.1.1.0" newVersion="16.1.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
